<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>article</key>
	<string>BY CONQUERING YOUR BODY, YOU BECOME INVINCIBLE
Doing sparring or physical activity on the verge of possibilities builds character and gives self-confidence that will stay with you even outside of the walls of the gym. You will be taught agility, coordination, flexibility, endurance, and other necessary qualities for an harmonious development of the body. </string>
	<key>description</key>
	<string>TRAIN LIKE A REAL CHAMPION Martial arts are about self-improvement: physical and spiritual. It doesn’t matter if your goal is to practice professional sports, or doing it for yourself. When you enter the gym you are already becoming stronger, overcoming your fears, doubts and weaknesses</string>
	<key>facebook</key>
	<string>https://www.instagram.com/pm.fightacademy/</string>
	<key>instagram</key>
	<string>https://www.instagram.com/pm.fightacademy/</string>
	<key>youtube</key>
	<string>https://www.youtube.com/channel/UCua8kW2BxcwCe6amEQ53kEw</string>
</dict>
</plist>
